package config

import (
	"{{.PackageName}}/internals/helpers"
	"context"

	"github.com/spf13/viper"
	"go.mongodb.org/mongo-driver/mongo"
	"go.mongodb.org/mongo-driver/mongo/options"
)

func NewMongoConnection(v *viper.Viper) *mongo.Database {
	ctx := context.Background()

	url := v.GetString("database.url")
	clientOptions := options.Client()
	clientOptions.ApplyURI(url)
	client, err := mongo.NewClient(clientOptions)
	if err != nil {
		helpers.ErrorLogger(err)

	}

	err = client.Connect(ctx)
	if err != nil {
		helpers.ErrorLogger(err)
	}

	return client.Database(v.GetString("database.name"))
}