package main

import (
	"{{.PackageName}}/internals/config"
	"{{.PackageName}}/internals/helpers"
	"context"
	"flag"
	"fmt"
	"time"
	
	"go.mongodb.org/mongo-driver/mongo/readpref"
)
	
var stage *string
	
func init() {
	stage = flag.String("s", "dev", "❌ please input stage !")
	flag.Parse()
}
	
func main() {
	v := config.NewViper(*stage)
	db := config.NewMongoConnection(v)


	ctx, errTimeout := context.WithTimeout(context.Background(), time.Second*5)
	defer errTimeout()
	
	err := db.Client().Ping(ctx, &readpref.ReadPref{})
	helpers.ErrorLogger(err)
	
	fmt.Println("✅ connected")
}